# EMAIL CONFIG (ZOHO)
ZOHO_USER=""
ZOHO_PASSWORD=""

# Set to "false" to skip sending email (default: true)
SEND_EMAIL="true"

# RECIPIENT EMAILS (comma-separated)
RECIPIENTS=""

# WORDS TO SEARCH IN BOIBs (comma-separated)
WORDSTOSEARCH=""

# CUSTOMERS (comma-separated)
CUSTOMERS=""

# Set to "true" to receive a notification when no new BOIB is available (default: false)
NOTIFY_NO_MATCH="false"