#environment config files
.env

#dependencies directories
node_modules/

#log files
*.log

#build and distribution files
dist/
build/

#output files
BOIBpdfs/
lastBoibInfo.json
output.txt

#executables
*.bat